
/* CSS for Rafting Page */
/* Variables for colors and fonts */
:root {
  --primary-color: #009dff; /* Azul */
  --secondary-color: #0077b6; /* Azul más oscuro */
  --accent1-color: #000000; /* Black */
  --accent2-color: #ffffff; /* White */
  --accent3-color: #8B7944CC; /* Beige with opacity */
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Montserrat", sans-serif;
}

/* General styles */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

/* Page size */
header,main,footer {
    max-width: 1370px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}   

.socialmedia {
    text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent3-color);
    color: #fff;    
}


.hero article {
  position: absolute;
  bottom: 50%;
  left: 40%;
  transform: translateX(-40%);
  width: 90%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: rgba(139, 121, 68, 0.8);
  color: white;
  border-radius: 8px;
}


.hero article img {
    float: right;
    width: 125px;
}
